@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    min-height: 100dvh;
    color: black;
    background-color: #505050;
    position: sticky;
    font-family: "Open Sans", sans-serif;
}

.all {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-inline:3vw;
    padding-top: 10vh;
    gap: 2vw;
    height: 100%;
}

.bloco{
    background-color: #f7f6f8;
    border-radius: 5px;
    position: sticky;
}

/*PROFILE*/

.profile{
    width: 30rem;
    height: fit-content;
    top: 60px;
}

.alltop{
    position: relative;
}

.picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -50px;
    z-index: 1;
    gap: 1.2vh;
}

.picture img {
    max-width: 60%;
    border-radius: 5px;
}

.pictureBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 1.2vh;
}

.pictureBottom .name{
    font-size: clamp(12px, 2vw, 20px);
}

.pictureBottom .liltext{
    background-color: #e2e2e2;
    padding: 5px;
    border-radius: 5px;
}

.itenspic{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
}

.itenspic img {
    height: clamp(15px, 2vw, 24px);
    width: auto;
    background-color: #e2e2e2;
    padding: 5px;
    transition: all 0.1s ease;
}

.itenspic img:hover{
    filter: brightness(110%);
}

.info{
    background-color: #e2e2e2;
    max-height: 50%;
    margin-inline: 5%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.infoitem{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
}

.bar{
    background-color: #dddddd;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin: 0 auto;
}

.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.itens .img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.itens .img img{
    width: 1.5rem;
    background-color: #f7f6f8;
    padding: 5px 3px;
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px black);
}

.lildesc{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


.lildesc .desc{
    font-size: clamp(12px, 1.3vw, 16px);
}

.email .lildesc .desc{
    display: block;
    font-size: clamp(8px, 1.3vw, 15px);
}

.lildesc .title{
    font-size: 10px;
}

.cv{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2e86dd;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 1.2vh;
    transition: all 0.1s ease;
    cursor: pointer;
}

.cv:hover{
    background-color: transparent;
    box-shadow: inset 0 0 5px #2e86dd;
}

.cv:hover p{
    filter: invert(100%);
}

.cvimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cvtext{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cvimg img {
    height: auto;
    width: 4rem;
    filter: invert(100%);
    transition: all 0.1s ease;
}

.cv:hover img {
    background-color: #dd7d2e;
}



/*PROFILE*/

/*MIDDLE*/

.middle{
    width: 100%;
    min-height: 80%;
    font-size: 30px;
}

.txttop{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.txttop2{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-inline: 1vh;
    padding-block-end: 1vh;
}

.wrap p {
    font-size: clamp(12px, 2vw, 20px);
}

.wrap h2 {
    font-size: clamp(16px, 5vw, 30px);
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vh;
    
}

.top h1{
    font-size: clamp(20px, 5vw, 40px);
}

.top .topbar{
    background-color: #2e86dd;
    width: 30%;
    height: 4px;
    border-radius: 4px;
}

.whatido{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    gap: 2vh;
    backdrop-filter: red;
    flex-wrap: wrap;
}


.area {
    display: flex;
    background-color: #2e86dd23;
    gap: 1rem;
    flex: 1 1 33%;
    padding: 1vh;
    border-radius: 5px;

    .content{
        
        .contenttitle{
            font-size: clamp(20px, 5vw, 34px);
        }
        .contentdesc{
            font-size: clamp(16px, 5vw, 26px);
        }
    }
}

.whaipic img{
    width: 3rem;
}

.carousel{
    background-color: #e2e2e2;
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        font-size: clamp(14px, 5vw, 24px);
    }
}


/*resume*/
.resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
}

.resumeitem{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
}

.resumetop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
}

.resumetop img {
    height: 3rem;
    width: auto;
}

.resumebox{
    border-radius: 5px;
    background-color: #2e86dd23;
    padding: 1vh;
}

/*MIDDLE*/

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1vh;
}

footer p {
    font-size: clamp(10px, 2vw, 16px);
}

/*FOOTER*/

/* NAV */

.desknav{
    width: 5rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
}

.block {
    height: 5vh;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 0.7rem;
    padding-inline: 0.2rem;
    transition: all 0.1s ease;
    cursor: pointer;
    border-radius: 5px;
}

.block:hover{
    background-color: #2e86dd;
    color: #fff;
}

.block:hover img{
    filter: invert(100%);
}

.block img {
    width: auto;
    height: 100%;
    transition: all 0.1s ease;
}

.block p {
    font-size: x-small;
}

.selected {
    background-color: #2e86dd;
}

/* NAV */
