<body>
    <div class="all">
        <section class="profile bloco">
            <div class="alltop">
                <div class="picture">
                    <img [src]="profileImageUrl" alt="Foto de perfil">
                    <section class="pictureBottom">
                        <div class="name">{{profileData.name}}</div>
                        <div class="liltext">Front-end Dev</div>
                        <div class="itenspic">
                            <img src="./assets/images/instagram.png" alt="Instagram">
                            <img src="./assets/images/facebook.png" alt="Facebook">
                            <img src="./assets/images/linkedin.png" alt="Linkedin">
                            <img src="./assets/images/github.png" alt="Github">
                        </div>
                    </section>

                    <section class="info">
                        <div class="infoitem">
                            <div class="itens phone">
                                <div class="img">
                                    <img src="./assets/images/smartphone.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Telefone</p>
                                    <p class="desc">(42) 9809-9371</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens email">
                                <div class="img">
                                    <img src="./assets/images/email.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Email</p>
                                    <p class="desc">emanuelsacomangmail.com</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens local">
                                <div class="img">
                                    <img src="./assets/images/location.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Location</p>
                                    <p class="desc">Turvo - PR</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens birth">
                                <div class="img">
                                    <img src="./assets/images/calendar.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Data de Nascimento</p>
                                    <p class="desc">03/11/2003</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                        </div>
                    </section>
                    <div class="cv">
                        <img src="./assets/images/baixar.png" alt="Download">
                        <p>CURRÍCULO</p>
                    </div>
                </div>
        </div>
        </section>
        <main class="middle bloco">
            <div *ngIf="isSelected('sobre')">
                <p>sobre</p>
            </div>
            <div *ngIf="isSelected('resumo')">
                <p>resumo</p>
            </div>
            <div *ngIf="isSelected('projetos')">
                <p>projetos</p>
            </div>
            <div *ngIf="isSelected('github')">
                <p>github</p>
            </div>
            <div *ngIf="isSelected('contato')">
                <p>contato</p>
            </div>
        </main>
        <!-- menu.component.html -->
        <nav class="desknav bloco">
            <div class="block" (click)="selectOption('sobre')" [ngClass]="{selected: isSelected('sobre')}">
            <img src="/assets/images/sobre.png" alt="Opção">
            <p>Sobre</p>
            </div>
            <div class="block" (click)="selectOption('resumo')" [ngClass]="{selected: isSelected('resumo')}">
            <img src="/assets/images/resume.png" alt="Opção">
            <p>Resumo</p>
            </div>
            <div class="block" (click)="selectOption('projetos')" [ngClass]="{selected: isSelected('projetos')}">
            <img src="/assets/images/projeto.png" alt="Opção">
            <p>Projetos</p>
            </div>
            <div class="block" (click)="selectOption('github')" [ngClass]="{selected: isSelected('github')}">
            <img src="/assets/images/github2.png" alt="Opção">
            <p>Github</p>
            </div>
            <div class="block" (click)="selectOption('contato')" [ngClass]="{selected: isSelected('contato')}">
            <img src="/assets/images/contato.png" alt="Opção">
            <p>Contato</p>
            </div>
        </nav>                
    </div>
</body>

