@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    min-height: 100dvh;
    color: black;
    background-color: #505050;
    position: sticky;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(-70deg , #505050 80%, rgb(155, 155, 155) 100%);
}

.all {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-inline:3vw;
    padding-top: 10vh;
    gap: 2vw;
    height: 100%;
}

.all h1{
    display: none;
}

.bloco{
    background-color: #f7f6f8;
    border-radius: 5px;
    position: sticky;
}

/*PROFILE*/

.profile{
    width: 30rem;
    height: fit-content;
    top: 60px;
}

.alltop{
    position: relative;
}

.picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -50px;
    z-index: 1;
    gap: 1.2vh;
}

.picture .picarea{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.picture img {
    max-width: 60%;
    border-radius: 5px;
    position: relative;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

.picture .picback {
    --gradient-angle: 0deg;
    background: conic-gradient(
      from var(--gradient-angle),
      transparent,
      #399cff
    );
    filter: blur(10px);
    z-index: -1;
    padding: 5px;
    width: 60%;
    height: 100%;
    top: -5px;
    position: absolute;
    border-radius: 5px;
    animation: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: rotateGradient 4s linear infinite;
  }
  
  @keyframes rotateGradient {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  } 

.picture:hover .picback{
    opacity: 1;
}

.pictureBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 1.2vh;
}

.pictureBottom .name{
    font-size: clamp(1rem, 3vw, 20px);
}

.pictureBottom .liltext{
    background-color: #e2e2e2;
    padding: 5px;
    border-radius: 5px;
    font-size: clamp(0.8rem, 3vw, 16px);
}

.itenspic {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.phone{
    cursor: pointer;
    border-radius: 5px;
}

.email{
    cursor: pointer;
}

.itenspic a {
    width: 2rem;
}

.itenspic img {
    width: clamp(16px, 2vw, 26px);
    height: auto;
    background-color: #e2e2e2;
    padding: 5px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.itenspic img:hover{
    background-color: #2e86dd;
}

.info{
    background-color: #e2e2e2;
    max-height: 50%;
    margin-inline: 5%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.infoitem{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
}

.bar{
    background-color: #dddddd;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin: 0 auto;
}

.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.itens .img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.itens .img img{
    width: 1.5rem;
    background-color: #f7f6f8;
    padding: 5px 3px;
    border-radius: 2px;
    filter: drop-shadow(0px 1px 1px black);
}

.lildesc{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


.lildesc .desc{
    font-size: clamp(12px, 1.3vw, 16px);
}

.email .lildesc .desc{
    display: block;
    font-size: clamp(10px, 1vw, 15px);
}

.lildesc .title{
    font-size: 10px;
}

.cv{
    background-color: #2e86dd;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 1.2vh;
    transition: all 0.1s ease;
    cursor: pointer;
    border: solid 2px transparent;
}

.cv a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.cv:hover{
    background-color: transparent;
    border: solid 2px #2e86dd;
}

.cv:hover p{
    filter: invert(100%);
}

.cvimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cvtext{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cvimg img {
    height: auto;
    width: 4rem;
    filter: invert(100%);
    transition: all 0.1s ease;
}

.cv:hover img{
    filter: invert(0%);
}


/*PROFILE*/

/*MIDDLE*/

.middle{
    width: 100%;
    min-height: 80%;
    font-size: 30px;
    margin-bottom: 1vh;
}

.txttop{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.txttop2{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-inline: 2vh;
    padding-block-end: 1vh;
}

.wrap p {
    font-size: clamp(12px, 2vw, 20px);
}

.wrap h2 {
    font-size: clamp(14px, 5vw, 30px);
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vh;
    
}

.top .toph1{
    font-size: clamp(20px, 5vw, 40px);
    font-weight: bold;
}

.top .topbar{
    background-color: #2e86dd;
    width: 30%;
    height: 4px;
    border-radius: 4px;
}

.whatido{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    gap: 2vh;
    flex-wrap: wrap;
}


.area {
    display: flex;
    background-color: #2e86dd23;
    gap: 1rem;
    flex: 1 1 33%;
    padding: 1vh;
    border-radius: 5px;

    .content{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .contenttitle{
            font-size: clamp(16px, 1vw, 26px);
            text-wrap: wrap;
            font-weight: bold;
        }
        .contentdesc{
            font-size: clamp(12px, 1vw, 20px);
        }
    }
}

.whaipic img{
    width: 2.5rem;
}

/*resume*/
.resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;
}

.resumeitem{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
}

.resumetop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
}

.resumetop img {
    height: 2.5rem;
    width: auto;
}

.resumebox{
    border-radius: 5px;
    background-color: #2e86dd23;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.resumebox .title{
    font-size: clamp(12px, 2vw, 16px);
}

.resumebox .desc{
    font-size: clamp(14px, 2vw, 18px);
}

.resumebox .location{
    font-size: clamp(12px, 2vw, 16px);
}

.resumeitemarea{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;

    & h3{
        font-size: clamp(14px, 5vw, 30px);
    }
}

.chart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: #2e86dd23;
    border-radius: 5px;
}
  
.chart p-chart {
    width: 90%;      
    height: auto;
} 

.chips{
    display: flex;
    gap: .5rem;
    border-radius: 5px;
    background-color: #2e86dd23;
    padding: 10px;
    flex-wrap: wrap;

    & .cardchip{
        display: flex;
        flex: 1;
        padding: 0.3rem;
        background-color: #2e86dd23;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: #3e9eff62;
        }
    }
}

/*PROJETOS*/

.projects{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    flex-wrap: wrap;
    flex-basis: auto;
}

.project{
    border-radius: 5px;
    flex: 1 1 33%;
    border: solid black 1px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    position: relative;

    :is(a){
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.mark img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    width: 4rem;
}

.project .badge img{
    padding-right: 18px;
    padding-top: 13px;
    position: absolute;
    width: 1.7rem;
}

.project:hover{
    filter: brightness(120%);
}

.project .title{
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: bold;
    font-stretch: expanded;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease;
    text-wrap: nowrap;
    color: #e2e2e281;
    mix-blend-mode: color-dodge;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.project:hover .title{
    color: #f7f6f8;
}

.projetosSection{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

a{
    text-decoration: none;
    color: black;
}

.icon-right{
    display: flex;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.icon-right img{
    height: auto;
    width: 2rem;
    z-index: 4;
}


/*PROJETOS*/

/*CONTATO*/

.onlyForm{
    position: relative;
}

.success{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeInOnce 5s forwards;
}

.success img {
    height: 10rem;
    width: auto;
}

@keyframes fadeInOnce {
    0% {
        opacity: 0;
    }
    30%, 70% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.formContact{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.form-group {
    margin-bottom: 3vh;
}

.form-group label {
    display: block;
    font-size: 1rem;
}

.form-group input, textarea {
    width: 100%;
    padding-block: 10px;
    padding-inline-start: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    resize: none;
}

.sendButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding-inline: clamp(16px, 2vw, 24px);
    padding-block: clamp(10px, 2vw, 16px);
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s ease;
}

.sendButton:hover{
    filter: brightness(110%);
}

.sendButton:active{
    transform: scale(0.9);
}

.error{
    color: red;
    font-size: 0.1rem;
}

.formText p{
    font-size: clamp(12px, 2vw, 20px);
}

/*CONTATO*/

/*MIDDLE*/

/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: 1vh;
}

footer p {
    font-size: clamp(10px, 2vw, 16px);
}

/*FOOTER*/

/* NAV */

.desknav{
    width: 5rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
}

.block {
    height: 5vh;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 0.7rem;
    padding-inline: 0.2rem;
    transition: all 0.1s ease;
    cursor: pointer;
    border-radius: 5px;
}

.block2{
    height: 5vh;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 0.7rem;
    padding-inline: 0.2rem;
    transition: all 0.1s ease;
    cursor: pointer;
    border-radius: 5px;
}

.block:hover, .block2:hover{
    background-color: #2e86dd;
    color: #fff;
}

.block:hover .block2{
    background-color: #2e86dd;
    color: #fff;
}

.block:hover img{
    filter: invert(100%);
}

.block img {
    width: auto;
    height: 100%;
    transition: all 0.1s ease;
}

.block2 img {
    width: auto;
    height: 100%;
    transition: all 0.1s ease;
}

.block p {
    font-size: x-small;
}

.block p::first-letter{
    text-transform: uppercase;
}

.selected {
    background-color: #2e86dd;
    color: #fff;
}

.selected img{
    filter: invert(100%);
}

/* NAV */

/*LOADING*/

.loading{
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(70deg, #505050, #2e86dd 15%, #707070 50%);
    background-size: 200% 200%;
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out.ng-leave {
    opacity: 0;
}


/*LOADING*/

/*SLIDER*/

#slider { 
    overflow: hidden;
    background-color: #e2e2e2;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 10vh;

}

#slider figure{
    display: block;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#slider figure img {
    width: clamp(50px, 1vw, 100px);
    height: auto;
    display: inline-block;
}




/*SLIDER*/

/*RESPONSIVIDADE*/

.response{
    display: none;
}

@media screen and (max-width: 770px) {
    .noResponse{
        display: none;
    }

    .response{
        display: block;
    }

    .all{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desknavResponse{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 0vw;
    }

    .desknavResponse .block, .block2 {
        padding: 0;
    }

    .block img, .block2 img{
        width: 1.3rem;
        height: auto;
    }

    .profile2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .alltop{
        position: relative;
    }

    .picture .profile2img {
        width: 12rem;
    }

    .info{
        width: 90%;
    }
    .itenspic {
        gap: 0.5rem;
    }
    .itenspic img{
        width: 2rem;
    }
    .itens .img img{
        width: 2rem;
    }
}

@media screen and (max-width: 430px) {
    .resume{
        gap: 1vh;
    }
    .resumeitem{
        gap: 1vh;
    }
    .whatido{
        gap: 1vh;
    }
    .wrap{
        padding-inline: 0.7vh;
        padding-block-end: 0.5vh;
    }
    .form-group input, textarea {
        padding-inline-start: 0px;
    }
    .wrap h2 {
        font-size: clamp(10px, 5vw, 30px);
    }
    .resumetop img {
        width: clamp(20px, 5vw, 30px);
        height: auto;
    }
    .cv{
        width: fit-content;
        .cvtext{
            font-size: clamp(14px, 5vw, 30px);
        }
        .cvimg{
            display: none;
        }
    }

    .resume{
        flex-direction: column;
    }

    .experience{
        margin-bottom: 2vh;
    }

    .resume > *:not(:last-child) {
        margin-bottom: 2vh;
    }
    
}

@media screen and (max-width: 270px){
    .infoitem img {
        display: none;
    }    
}

/*RESPONSIVIDADE*/
