<head>
    <meta name="description" content="Portfólio do Desenvolvedor Emanuel Vinícius Sacoman!">
</head>

<body>
    <div class="loading" *ngIf="!this.sobreLoaded || !this.sobreAreaLoaded || !this.resumoLoaded || 
    !this.resumolLoaded || !this.resumorLoaded || !this.projetoLoaded ||
    !this.projetosLoaded || !this.contatoLoaded || !this.profileLoaded" [@fadeOut]>
        <img src="./assets/images/spinner.gif" alt="Carregando...">
    </div>
    <div class="all">
        <h1>{{profileData.name}}</h1>
        <section class="profile bloco noResponse" *ngFor="let perfil of perfil | async;">
            <div class="alltop">
                <div class="picture">
                    <div class="picarea">
                        <img [src]="profileImageUrl" alt="Foto de perfil">
                        <div class="picback"></div>
                    </div>
                    <section class="pictureBottom">
                        <div class="name">{{profileData.name}}</div>
                        <div class="liltext">{{perfil.text}}</div>
                        <div class="itenspic">
                            <a href="https://instagram.com/{{perfil.instagram}}" target="_blank">
                                <img src="./assets/images/instagram.png" alt="Instagram">
                            </a>
                            <a href="{{perfil.facebook}}" target="_blank">
                                <img src="./assets/images/facebook.png" alt="Facebook">
                            </a>
                            <a href="{{perfil.linkedin}}" target="_blank">
                                <img src="./assets/images/linkedin.png" alt="Linkedin">
                            </a>
                            <a href="https://github.com/{{perfil.github}}" target="_blank">
                                <img src="./assets/images/github.png" alt="Github">
                            </a>
                        </div>
                    </section>

                    <section class="info">
                        <div class="infoitem">
                            <div class="itens phone" (click)="goToZap(perfil.phone)">
                                <div class="img">
                                    <img src="{{perfil.phoneImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.phoneTXT}}</p>
                                    <p class="desc">{{perfil.phone}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens email" (click)="goToEmail(perfil.email)">
                                <div class="img">
                                    <img src="{{perfil.emailImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.emailTXT}}</p>
                                    <p class="desc">{{perfil.email}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens local" (click)="goToLocal(perfil.local)">
                                <div class="img">
                                    <img src="{{perfil.localImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.localTXT}}</p>
                                    <p class="desc">{{perfil.local}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens birth">
                                <div class="img">
                                    <img src="{{perfil.birthImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.birthTXT}}</p>
                                    <p class="desc">{{perfil.birth}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                        </div>
                    </section>
                    <div class="cv">
                        <a href="{{perfil.cv}}" target="_blank">
                            <div class="cvimg">
                                <img src="./assets/images/baixar.png" alt="Download">
                            </div>
                            <div class="cvtext">
                                <p>CURRÍCULO</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="profile2 bloco response" *ngFor="let perfil of perfil | async;">
            <div class="alltop">
                <div class="picture">
                    <div class="picarea">
                        <img class="profile2img" [src]="profileImageUrl" alt="Foto de perfil">
                        <div class="picback"></div>
                    </div>
                    <section class="pictureBottom">
                        <div class="name">{{profileData.name}}</div>
                        <div class="liltext">{{perfil.text}}</div>
                        <div class="itenspic">
                            <a href="https://instagram.com/{{perfil.instagram}}" target="_blank">
                                <img src="./assets/images/instagram.png" alt="Instagram">
                            </a>
                            <a href="{{perfil.facebook}}" target="_blank">
                                <img src="./assets/images/facebook.png" alt="Facebook">
                            </a>
                            <a href="{{perfil.linkedin}}" target="_blank">
                                <img src="./assets/images/linkedin.png" alt="Linkedin">
                            </a>
                            <a href="https://github.com/{{perfil.github}}" target="_blank">
                                <img src="./assets/images/github.png" alt="Github">
                            </a>
                        </div>
                    </section>

                    <section class="info">
                        <div class="infoitem">
                            <div class="itens phone" (click)="goToZap(perfil.phone)">
                                <div class="img">
                                    <img src="{{perfil.phoneImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.phoneTXT}}</p>
                                    <p class="desc">{{perfil.phone}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens email" (click)="goToEmail(perfil.email)">
                                <div class="img">
                                    <img src="{{perfil.emailImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.emailTXT}}</p>
                                    <p class="desc">{{perfil.email}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens local" (click)="goToLocal(perfil.local)">
                                <div class="img">
                                    <img src="{{perfil.localImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.localTXT}}</p>
                                    <p class="desc">{{perfil.local}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens birth">
                                <div class="img">
                                    <img src="{{perfil.birthImg}}" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">{{perfil.birthTXT}}</p>
                                    <p class="desc">{{perfil.birth}}</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                        </div>
                    </section>
                    <div class="cv">
                        <a href="{{perfil.cv}}" target="_blank">
                            <div class="cvimg">
                                <img src="./assets/images/baixar.png" alt="Download">
                            </div>
                            <div class="cvtext">
                                <p>CURRÍCULO</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <nav class="desknavResponse bloco response">
            <div class="block" (click)="selectOption('sobre')" [ngClass]="{selected: isSelected('sobre')}">
                <img src="/assets/images/sobre.png" alt="Opção">
                <p *ngFor="let sobre of sobre">{{sobre.title}}</p>
            </div>
            <div class="block" (click)="selectOption('resumo')" [ngClass]="{selected: isSelected('resumo')}">
                <img src="/assets/images/resume.png" alt="Opção">
                <p *ngFor="let resumo of resumo">{{resumo.titleArea}}</p>
            </div>
            <div class="block" (click)="selectOption('projetos')" [ngClass]="{selected: isSelected('projetos')}">
                <img src="/assets/images/projeto.png" alt="Opção">
                <p *ngFor="let projetos of projeto">{{projetos.titleProjeto}}</p>
            </div>
            <div class="block" (click)="selectOption('contato')" [ngClass]="{selected: isSelected('contato')}">
                <img src="/assets/images/contato.png" alt="Opção">
                <p *ngFor="let contato of contato">{{contato.titleContato}}</p>
            </div>
            <div class="block" *ngIf="isLoggedIn()">
                <div  *ngFor="let sobre of sobre">
                    <div *ngFor="let resumo of resumo">
                        <div *ngFor="let projeto of projeto">
                            <div *ngFor="let contato of contato">
                                <div *ngFor="let profile of profile">
                                    <ng-container>
                                        <div class="block2" (click)="goToAdmin({sobre: sobre, resumo: resumo, projeto: projeto, contato: contato, profile: profile})">
                                            <img src="/assets/images/admin.png" alt="Opção">
                                            <p>Admin</p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <main class="middle bloco">
            <div class="sobre wrap" *ngIf="isSelected('sobre')">
                <div class="txttop" *ngFor="let sobre of this.sobre;">
                    <div class="top">
                        <div class="toph1">{{sobre.title}}</div>
                        <div class="topbar"></div>
                    </div>
                    <div class="txttop2">
                        <p>{{sobre.txt1}}</p>
                        <p>{{sobre.txt2}}</p>
                    </div>
                    <h2>{{sobre.subtitle}}</h2>
                </div>
                <section class="whatido">
                    <div class="area" *ngFor="let sobrearea of this.sobrearea; let i = index">
                        <div class="whaipic">
                            <img src="{{sobrearea.cImg}}" alt="Pic">
                        </div>
                        <div class="content">
                            <div class="contenttitle">
                                {{sobrearea.ctitle}}
                            </div>
                            <div class="contentdesc">
                                {{sobrearea.cdesc}}
                            </div>
                        </div>
                    </div>
                </section>

                <section class="carousel">
                    <p-carousel
                      [value]="slider"
                      [numVisible]="5"
                      [numScroll]="1"
                      [circular]="true"
                      [responsiveOptions]="responsiveOptions"
                      [autoplayInterval]="3000"
                      [showNavigators]="false"
                      [showIndicators]="false">
                      <ng-template let-item pTemplate="item">
                        <div class="language-item">
                          <img [src]="item.Carouselimg" alt="Carousel Image">
                        </div>
                      </ng-template>
                    </p-carousel>
                  </section>

            </div>
            <div class="resumo wrap" *ngIf="isSelected('resumo')">
                <div class="txttop" *ngFor="let resumo of resumo">
                    <div class="top">
                        <div class="toph1">{{resumo.titleArea}}</div>
                        <div class="topbar"></div>
                    </div>
                    <section class="resume">
                        <div class="education resumeitem" >
                            <div class="resumetop">
                                <img src="./assets/images/education.png" alt="Resume pic">           
                                <h2>{{resumo.lsub}}</h2>
                            </div>
                            <div class="resumebox" *ngFor="let resumol of resumol"> 
                                <p class="title">{{resumol.titlel}}</p>
                                <p class="desc">{{resumol.descl}}</p>
                                <p class="location">{{resumol.locationl}}</p>
                            </div>
                        </div>
                        <div class="experience resumeitem" >
                            <div class="resumetop">
                                <img src="./assets/images/pasta.png" alt="Resume pic">       
                                <h2>{{resumo.rsub}}</h2>
                            </div>
                            <div class="resumebox" *ngFor="let resumor of resumor">
                                <p class="title">{{resumor.titler}}</p>
                                <p class="desc">{{resumor.descr}}</p>
                                <p class="location">{{resumor.locationr}}</p>
                            </div>
                        </div>
                    </section>

                    <section class="resume">
                        <div class="resumeitem">
                            <div class="resumetop">
                                <img src="./assets/images/competencia.png" alt="Resume pic"> 
                                <h2>{{resumo.chart}}</h2>
                            </div>
                            <div class="chart">
                                <p-chart type="bar" [data]="data" [options]="options" />
                            </div>
                        </div>
                        <div class="resumeitem">
                            <div class="resumetop">
                                <img src="./assets/images/conhecimento.png" alt="Resume pic">
                                <h2>{{resumo.chip}}</h2>
                            </div>
                            <div class="chips" >
                                <div class="cardchip" *ngFor="let chip of chipArray">
                                  <p>{{ chip.chipname }}</p>
                                </div>
                              </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="projetos wrap" *ngIf="isSelected('projetos')">
                <div class="top">
                    <div class="toph1" *ngFor="let projetos of projeto">{{projetos.titleProjeto}}</div>
                    <div class="topbar"></div>
                </div>
                <div class="projects">  
                    <div class="project" style="background-image: url('{{projeto.projectImg}}');" *ngFor="let projeto of projetos">
                        <a [href]="!projeto.inProgress ? '#' : projeto.link" target="_blank">
                            <div class="icon-right">
                                <div class="star" *ngIf="projeto.star">
                                    <img src="./assets/images/star.gif" alt="Star">
                                </div>
                                <div class="wip" *ngIf="!projeto.inProgress">
                                    <img src="./assets/images/wip.gif" alt="Work in Progress">
                                </div>
                            </div>
                            <div class="mark">
                                <img src="./assets/images/bookmark.png" alt="Mark">
                                <div class="badge">
                                    <img src="{{projeto.badge}}" alt="Badge">
                                </div>
                            </div>
                            <div class="title">{{projeto.titulo}}</div>
                        </a>
                    </div>
                </div>
                
            </div>
            
            <div class="contato wrap" *ngIf="isSelected('contato')">
                <div class="top">
                    <div class="toph1" *ngFor="let contato of contato">{{contato.titleContato}}</div>
                    <div class="topbar"></div>
                </div>
                <div class="formContact">
                    <div class="formText" *ngFor="let contato of contato">
                        <p>{{contato.descContato}}</p>
                    </div>
                    <div class="onlyForm">
                        <div class="success" *ngIf="mensagemEnviada">
                            <img src="./assets/images/check.png" alt="Sucesso!">
                        </div>
                        <form (ngSubmit)="submit()" [formGroup]="contactForm" #formDir="ngForm" class="formTrue">
                            <div class="form-group">
                                <label for="name">nome*</label>
                                <input type="text" id="nome" class="item" formControlName="nome" required maxlength="50">
                                <p class="error" *ngIf="isInvalidControl('nome')">Erro no nome</p>
                            </div>
                            <div class="form-group">
                                <label for="email">e-mail*</label>
                                <input type="text" id="email" class="item" formControlName="email" required>
                                <p class="error" *ngIf="isInvalidControl('email')">Erro no e-mail</p>
                            </div>
                            <div class="form-group">
                                <label for="titulo">titulo/motivo*</label>
                                <input type="text" id="titulo" class="item" formControlName="titulo" required maxlength="50">
                                <p class="error" *ngIf="isInvalidControl('titulo')">Erro no titulo</p>
                            </div>
                            <div class="form-group">
                                <label for="mensagem">mensagem*</label>
                                <textarea type="text" id="mensagem" class="item" formControlName="mensagem" required rows="10" cols="30"></textarea>
                                <p class="error" *ngIf="isInvalidControl('mensagem')">Erro na mensagem</p>
                            </div>
                            <button class="sendButton" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <footer>
                <p>©️ 2024 Todos os Direitos Reservados por {{profileData.name}}</p>
            </footer>
        </main>
        <!-- menu.component.html -->
        <nav class="desknav bloco noResponse">
            <div class="block" (click)="selectOption('sobre')" [ngClass]="{selected: isSelected('sobre')}">
                <img src="/assets/images/sobre.png" alt="Opção">
                <p *ngFor="let sobre of sobre">{{sobre.title}}</p>
            </div>
            <div class="block" (click)="selectOption('resumo')" [ngClass]="{selected: isSelected('resumo')}">
                <img src="/assets/images/resume.png" alt="Opção">
                <p *ngFor="let resumo of resumo">{{resumo.titleArea}}</p>
            </div>
            <div class="block" (click)="selectOption('projetos')" [ngClass]="{selected: isSelected('projetos')}">
                <img src="/assets/images/projeto.png" alt="Opção">
                <p *ngFor="let projetos of projeto">{{projetos.titleProjeto}}</p>
            </div>
            <div class="block" (click)="selectOption('contato')" [ngClass]="{selected: isSelected('contato')}">
                <img src="/assets/images/contato.png" alt="Opção">
                <p *ngFor="let contato of contato">{{contato.titleContato}}</p>
            </div>
            <div class="block" *ngIf="isLoggedIn()">
                <div  *ngFor="let sobre of sobre">
                    <div *ngFor="let resumo of resumo">
                        <div *ngFor="let projeto of projeto">
                            <div *ngFor="let contato of contato">
                                <div *ngFor="let profile of profile">
                                    <ng-container>
                                        <div class="block2" (click)="goToAdmin({sobre: sobre, resumo: resumo, projeto: projeto, contato: contato, profile: profile})">
                                            <img src="/assets/images/admin.png" alt="Opção">
                                            <p>Admin</p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>                
    </div>
</body>

