<body>
    <div class="all">
        <section class="profile bloco">
            <div class="alltop">
                <div class="picture">
                    <img [src]="profileImageUrl" alt="Foto de perfil">
                    <section class="pictureBottom">
                        <div class="name">{{profileData.name}}</div>
                        <div class="liltext">Front-end Dev</div>
                        <div class="itenspic">
                            <img src="./assets/images/instagram.png" alt="Instagram">
                            <img src="./assets/images/facebook.png" alt="Facebook">
                            <img src="./assets/images/linkedin.png" alt="Linkedin">
                            <img src="./assets/images/github.png" alt="Github">
                        </div>
                    </section>

                    <section class="info">
                        <div class="infoitem">
                            <div class="itens phone">
                                <div class="img">
                                    <img src="./assets/images/smartphone.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Telefone</p>
                                    <p class="desc">(42) 9809-9371</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens email">
                                <div class="img">
                                    <img src="./assets/images/email.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Email</p>
                                    <p class="desc">emanuelsacomangmail.com</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens local">
                                <div class="img">
                                    <img src="./assets/images/location.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Location</p>
                                    <p class="desc">Turvo - PR</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                            <div class="itens birth">
                                <div class="img">
                                    <img src="./assets/images/calendar.png" alt="Telefone">
                                </div>
                                <div class="lildesc">
                                    <p class="title">Data de Nascimento</p>
                                    <p class="desc">03/11/2003</p>
                                </div>
                            </div>
                            <div class="bar"></div>
                        </div>
                    </section>
                    <div class="cv">
                        <div class="cvimg">
                            <img src="./assets/images/baixar.png" alt="Download">
                        </div>
                        <div class="cvtext">
                            <p>CURRÍCULO</p>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <main class="middle bloco">
            <div class="sobre wrap" *ngIf="isSelected('sobre')">
                <div class="txttop" *ngFor="let sobre of this.sobre;">
                    <div class="top">
                        <h1>{{sobre.title}}</h1>
                        <div class="topbar"></div>
                    </div>
                    <div class="txttop2">
                        <p>{{sobre.txt1}}</p>
                        <p>{{sobre.txt2}}</p>
                    </div>
                    <h2>{{sobre.subtitle}}</h2>
                </div>
                <section class="whatido">
                    <div class="area" *ngFor="let sobrearea of this.sobrearea; let i = index">
                        <div class="whaipic">
                            <img src="{{sobrearea.cImg}}" alt="Pic">
                        </div>
                        <div class="content">
                            <div class="contenttitle">
                                {{sobrearea.ctitle}}
                            </div>
                            <div class="contentdesc">
                                {{sobrearea.cdesc}}
                            </div>
                        </div>
                    </div>
                </section>

                <!-- <section class="carousel">
                    <h3 class="carouseltitle">Conhecimento</h3>
                    
                </section> -->
            </div>
            <div class="resumo wrap" *ngIf="isSelected('resumo')">
                <div class="txttop" *ngFor="let resumo of resumo">
                    <div class="top">
                        <h1>{{resumo.titleArea}}</h1>
                        <div class="topbar"></div>
                    </div>
                    <section class="resume">
                        <div class="education resumeitem" >
                            <div class="resumetop">
                                <img src="./assets/images/education.png" alt="Resume pic">           
                                <h2>{{resumo.lsub}}</h2>
                            </div>
                            <div class="resumebox" *ngFor="let resumol of resumol"> 
                                <p class="title">{{resumol.titlel}}</p>
                                <p class="desc">{{resumol.descl}}</p>
                                <p class="location">{{resumol.locationl}}</p>
                            </div>
                        </div>
                        <div class="experience resumeitem" >
                            <div class="resumetop">
                                <img src="./assets/images/pasta.png" alt="Resume pic">       
                                <h2>{{resumo.rsub}}</h2>
                            </div>
                            <div class="resumebox" *ngFor="let resumor of resumor">
                                <p class="title">{{resumor.titler}}</p>
                                <p class="desc">{{resumor.descr}}</p>
                                <p class="location">{{resumor.locationr}}</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="projetos wrap" *ngIf="isSelected('projetos')">
                <div class="top">
                    <h1>projetos</h1>
                    <div class="topbar"></div>
                </div>
            </div>
            <div class="github wrap" *ngIf="isSelected('github')">
                <div class="top">
                    <h1>github</h1>
                    <div class="topbar"></div>
                </div>
            </div>
            <div class="contato wrap" *ngIf="isSelected('contato')">
                <div class="top">
                    <h1>contato</h1>
                    <div class="topbar"></div>
                </div>
            </div>
            <footer>
                <p>©️ 2024 Todos os Direitos Reservados por Emanuel</p>
            </footer>
        </main>
        <!-- menu.component.html -->
        <nav class="desknav bloco">
            <div class="block" (click)="selectOption('sobre')" [ngClass]="{selected: isSelected('sobre')}">
                <img src="/assets/images/sobre.png" alt="Opção">
                <p *ngFor="let sobre of sobre">{{sobre.title}}</p>
            </div>
            <div class="block" (click)="selectOption('resumo')" [ngClass]="{selected: isSelected('resumo')}">
                <img src="/assets/images/resume.png" alt="Opção">
                <p *ngFor="let resumo of resumo">{{resumo.titleArea}}</p>
            </div>
            <div class="block" (click)="selectOption('projetos')" [ngClass]="{selected: isSelected('projetos')}">
                <img src="/assets/images/projeto.png" alt="Opção">
                <p>Projetos</p>
            </div>
            <div class="block" (click)="selectOption('github')" [ngClass]="{selected: isSelected('github')}">
                <img src="/assets/images/github2.png" alt="Opção">
                <p>Github</p>
            </div>
            <div class="block" (click)="selectOption('contato')" [ngClass]="{selected: isSelected('contato')}">
                <img src="/assets/images/contato.png" alt="Opção">
                <p>Contato</p>
            </div>
            <div class="block" *ngFor="let sobre of sobre">
                <div *ngFor="let resumo of resumo">
                    <ng-container *ngIf="isLoggedIn()">
                        <div class="block2" (click)="goToAdmin({sobre: sobre, resumo: resumo})">
                            <img src="/assets/images/admin.png" alt="Opção">
                            <p>Admin</p>
                        </div>
                    </ng-container>
                </div>
            </div>
            
            
        </nav>                
    </div>
</body>

