<body>
    <main>
        <aside class="options">
          <div class="option return" (click)="goBack()">
            <img src="./assets/images/return.png" alt="Voltar">
          </div>
            <div class="option" (click)="selectOption('sobre')" [ngClass]="{selected: isSelected('sobre')}">SOBRE</div>
            <div class="option" (click)="selectOption('resumo')" [ngClass]="{selected: isSelected('resumo')}">RESUMO</div>
            <div class="option" (click)="selectOption('projetos')" [ngClass]="{selected: isSelected('projetos')}"><P>PROJETOS</P></div>
            <div class="option" (click)="selectOption('contato')" [ngClass]="{selected: isSelected('contato')}">CONTATO</div>
            <div class="option" (click)="selectOption('profile')" [ngClass]="{selected: isSelected('profile')}">PROFILE</div>
            <div class="option" (click)="selectOption('email')" [ngClass]="{selected: isSelected('email')}">EMAIL</div>
            <div class="option logout" (click)="logout()">LOGOUT</div>
        </aside>
        <section class="formsection">
            <div class="formall" *ngIf="isSelected('sobre')">
              <form class="formSobre" (ngSubmit)="editSobre()" [formGroup]="sobreEdit" #formDir="ngForm">
                <div class="input-group">
                  <div class="input">
                    <input type="text" id="title" placeholder="Insira o titulo" formControlName="title" required/>
                  </div>
                  <div class="input">
                    <input type="text" id="subtitle" placeholder="Insira o subtitulo" formControlName="subtitle" required/>
                  </div>
                  <div class="input">
                    <textarea type="text" id="txt1" placeholder="Insira o txt1" formControlName="txt1" required rows="5" cols="30"></textarea>
                  </div>
                  <div class="input">
                    <textarea type="text" id="txt2" placeholder="Insira o txt2" formControlName="txt2" required rows="5" cols="30"></textarea>
                  </div>
                </div>
                <button class="sendButton" type="submit">Enviar</button>
              </form>  

              <section class="addArea">
                <div *ngFor="let area of sobreareaArray; let i = index">
                  <div class="formSobreArea" (click)="editar(area)">
                    <div class="item">
                      <div class="area">
                        <div class="input">
                          <h2>{{area.ctitle}}</h2>
                        </div>
                        <div class="input">
                          <p>{{area.cdesc}}</p>
                        </div>
                        <div class="input preImage">
                          <img src="{{area.cImg}}" alt="{{area.ctitle}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cadastro">
                  <img (click)="cadastrar()" src="./assets/images/plus.png" alt="Cadastro">
                </div>
              </section> 

            </div>
            <div class="formall" *ngIf="isSelected('resumo')">
              <form class="formResumo" (ngSubmit)="editResumo()" [formGroup]="resumoEdit" #formDir="ngForm">
                <div class="inputs-groups">
                  <div class="input-group">
                    <div class="input">
                      <input type="text" id="titleArea" placeholder="Insira o titulo" formControlName="titleArea" required/>
                    </div>
                  </div>
                  <div class="input-group">
                    <div class="input">
                      <input type="text" id="lsub" placeholder="Insira o lsub" formControlName="lsub" required/>
                    </div>
                    <div class="input">
                      <input type="text" id="rsub" placeholder="Insira o rsub" formControlName="rsub" required/>
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="input">
                      <input type="text" id="chart" placeholder="Insira o título do chart" formControlName="chart" required/>
                    </div>
                    <div class="input">
                      <input type="text" id="chip" placeholder="Insira o título do chip" formControlName="chip" required/>
                    </div>
                  </div>
                  
                  <button class="sendButton" type="submit">Enviar</button>
                </div>
                </form>   

                <section class="itensdisplay">
                  <div class="displayarea">
                    <div class="display" *ngFor="let resumol of resumol; let i = index" (click)="editarl(resumol)">
                      <p>{{resumol.titlel}}</p>
                      <p>{{resumol.descl}}</p>
                      <p>{{resumol.locationl}}</p>
                    </div>
                    <div class="addbuton" (click)="addresumol()">
                      ADD
                    </div>
                  </div>
                  <div class="displayarea">
                    <div class="display" *ngFor="let resumor of resumor; let i = index" (click)="editarr(resumor)">
                      <p>{{resumor.titler}}</p>
                      <p>{{resumor.descr}}</p>
                      <p>{{resumor.locationr}}</p>
                    </div>
                    <div class="addbuton" (click)="addresumor()">
                      ADD
                    </div>
                  </div>
                </section>
            </div>
            
            <div class="formall projetosSection" *ngIf="isSelected('projetos')">
              <section class="projeto">
                <form class="formProjeto" (ngSubmit)="editProjeto()" [formGroup]="projetoEdit" #formDir="ngForm">
                  <div class="inputs-groups">
                    <div class="input-group">
                      <div class="input">
                        <input type="text" id="titleProjeto" placeholder="Insira o titulo" formControlName="titleProjeto" required/>
                      </div>
                    </div>
                    <button class="sendButton" type="submit">Enviar</button>
                  </div>
                </form>   
              </section>
              
              <div class="projects">
                <div class="project" style="background-image: url('{{projeto.projectImg}}');" *ngFor="let projeto of projetos" (click)="editarProjeto(projeto)">
                  <div class="mark">
                    <img src="./assets/images/bookmark.png" alt="Mark">
                    <div class="badge">
                      <img src="{{projeto.badge}}" alt="Badge">
                    </div>
                  </div>
                  <div class="title">{{projeto.titulo}}</div>
                </div>
              </div>
              <div class="botaoarea">
                <div class="cadastroProject">
                  <img (click)="cadastrarProjeto()" src="./assets/images/plus.png" alt="Cadastro">
                </div>
              </div>
            </div>
            <div class="formall" *ngIf="isSelected('contato')">
              <section class="contato">
                <form class="formContato" (ngSubmit)="editContato()" [formGroup]="contatoEdit" #formDir="ngForm">
                  <div class="inputs-groups">
                    <div class="input-group">
                      <div class="input">
                        <input type="text" id="titleContato" placeholder="Insira o titulo" formControlName="titleContato" required/>
                      </div>
                    </div>
                    <div class="input-group">
                      <div class="input">
                        <textarea type="text" id="descContato" placeholder="Insira a descrição" formControlName="descContato" required rows="5" cols="30"></textarea>
                      </div>
                    </div>
                    <button class="sendButton" type="submit">Enviar</button>
                  </div>
                </form> 
                
              </section>  
            </div>
            <div class="formall profileForm" *ngIf="isSelected('profile')">
              <section class="profile">
                  <form class="formProfile" (ngSubmit)="editProfile()" [formGroup]="profileEdit" #formDir="ngForm">
                      <div class="inputs-groups">
                        <div class="input-group">
                          <div class="input">
                            <input type="text" id="text" placeholder="Insira o text" formControlName="text" required/>
                          </div>
                        </div>
                          <!-- Área Instagram -->
                          <div class="input-group">
                              <div class="input">
                                  <input type="text" id="instagram" placeholder="Insira o instagram" formControlName="instagram" required/>
                              </div>
                          
                          <!-- Área Facebook -->
                          
                              <div class="input">
                                  <input type="text" id="facebook" placeholder="Insira o Facebook" formControlName="facebook" required/>
                              </div>
                          
                          <!-- Área LinkedIn -->
                          
                              <div class="input">
                                  <input type="text" id="linkedin" placeholder="Insira o LinkedIn" formControlName="linkedin" required/>
                              </div>
                          
                          <!-- Área GitHub -->
                          
                              <div class="input">
                                  <input type="text" id="github" placeholder="Insira o GitHub" formControlName="github" required/>
                              </div>
                          
                          <!-- Área Telefone -->
                          
                              <div class="input">
                                  <input type="text" id="phone" placeholder="Insira o telefone" formControlName="phone" required/>
                              </div>
                          
                          <!-- Área E-mail -->
                          
                              <div class="input">
                                  <input type="email" id="email" placeholder="Insira o e-mail" formControlName="email" required/>
                              </div>
                          
                          <!-- Área Local -->
                          
                              <div class="input">
                                  <input type="text" id="local" placeholder="Insira o local" formControlName="local" required/>
                              </div>
                          
                          <!-- Área Nascimento -->
                          
                              <div class="input">
                                  <input type="text" id="birth" placeholder="Insira a data de nascimento" formControlName="birth" required/>
                              </div>
                          </div>

                          <!-- Área TXT -->
                          <div class="input-group">
                            <div class="input">
                              <input type="text" id="phoneTXT" placeholder="Insira o phoneTXT" formControlName="phoneTXT" required/>
                            </div>

                            <div class="input">
                              <input type="text" id="emailTXT" placeholder="Insira o emailTXT" formControlName="emailTXT" required/>
                            </div>

                            <div class="input">
                              <input type="text" id="localTXT" placeholder="Insira o localTXT" formControlName="localTXT" required/>
                            </div>

                            <div class="input">
                              <input type="text" id="birthTXT" placeholder="Insira o birthTXT" formControlName="birthTXT" required/>
                            </div>
                          </div>
          
                          <!-- Área de upload de imagem para o telefone -->
                          <div class="input-group">
                              <div class="input">
                                  <label for="phoneImg">Imagem do Telefone:</label>
                                  <input type="file" id="phoneImg" formControlName="imagem1" (change)="handlePhoneImageUpload($event)" accept="image/*"/>
                                </div>
                                <div *ngIf="!imagem1">
                                  <img class="preImage2" [src]="this.profile.phoneImg" />
                                </div>
                          
                          <!-- Área de upload de imagem para o e-mail -->
                          
                              <div class="input">
                                  <label for="emailImg">Imagem do E-mail:</label>
                                  <input type="file" id="emailImg" formControlName="imagem2" (change)="handleEmailImageUpload($event)" accept="image/*"/>
                                </div>
                                <div *ngIf="!imagem2">
                                  <img class="preImage2" [src]="this.profile.emailImg" />
                                </div>
                          
                          <!-- Área de upload de imagem para o local -->
                          
                              <div class="input">
                                  <label for="localImg">Imagem do Local:</label>
                                  <input type="file" id="localImg" formControlName="imagem3" (change)="handleLocalImageUpload($event)" accept="image/*"/>
                                </div>
                                <div *ngIf="!imagem3">
                                  <img class="preImage2" [src]="this.profile.localImg" />
                                </div>
                          
                          <!-- Área de upload de imagem para o nascimento -->
                          
                              <div class="input">
                                  <label for="birthImg">Imagem do Nascimento:</label>
                                  <input type="file" id="birthImg" formControlName="imagem4" (change)="handleBirthImageUpload($event)" accept="image/*"/>
                                </div>
                                <div *ngIf="!imagem4">
                                  <img class="preImage2" [src]="this.profile.birthImg" />
                                </div>
                          </div>

                          <div class="input-group">
                            <div class="input">
                              <input type="text" id="cv" placeholder="Insira o link do CV" formControlName="cv" required/>
                            </div>
                          </div>
                          
                          <!-- Botão Enviar -->
                          <button class="sendButton" type="submit">Enviar</button>
                      </div>
                  </form>
              </section>
          </div>
          
            <div class="formall" *ngIf="isSelected('email')">
              <section class="lista" *ngFor="let item of items | async; let i = index">
                <div class="mensagem" (click)="showDescription(item)">
                  <p class="nome">{{ item.nome }}</p>
                  <p class="motivo">{{item.titulo}}</p>
                  <p class="time">{{ convertTimestampToDate(item.timestamp) | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                  <img src="./assets/images/delete.png" alt="Excluir" (click)="deleteemail(item.mensagem)">
                </div>
                <div class="expand fadeInDown" *ngIf="item.showDescription">
                  <div class="areaMensagem">
                    <div class="topMensagem">
                      <p class="emailMensagem">{{item.email}}</p>
                    </div>
                    <div class="allMensagem">
                      <p class="motivoShow">{{item.titulo}}</p>
                      <p class="mensagemShow">{{item.mensagem}}</p>
                      <p class="time">{{ convertTimestampToDate(item.timestamp) | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                    </div>
                  </div>
                </div>

              </section>              
            </div>
          </section>
        </main>
</body>