@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    color: black;
    background-color: #505050;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

main {
    background-color: #f7f6f8;
    height: 90%;
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    padding: 1vh;
    position: absolute;
}

.options{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    border-radius: 5px;
}

.options .option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    color: black;
    flex-basis: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s ease;
    font-size: clamp(10px, 2vw, 30px);
    flex-wrap: wrap;
    padding: 1vh;
}

.options .selected {
    background-color: #2e86dd;
    color: #fff;
}

.options .option:hover{
    background-color: #2e86dd;
    color: #fff;
}

.return img {
    width: 5vw;
    height: auto;
}

.return:hover img{
    filter: invert(100%);
}

.formsection{
    background-color: #e2e2e2;
    width: 100%;
    border-radius: 5px;
    padding: 1vh;
    position: relative;
}

.input-group{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    gap: 2vh;
    width: 100%;
    flex-wrap: wrap;
}

.input{
    flex: 1 1 33%;
}

input{
    height: 3rem;
}

textarea{
    height: 12rem;
    resize: none;
}

input, textarea{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    font-size: clamp(1rem, 2vw, 1.3rem);
    border: solid black 1px;
}

.addArea{
    background-color: #d5d4d6;
    min-height: 5vh;
    margin-top: 2vh;
    border-radius: 5px;
    width: 95%;
    gap: 1vh;
    padding: 1vw;
    overflow-x: auto;
    display: flex;
    position: absolute;
    z-index: 2;
}

.area{
    width: 20rem;
    min-height: 20vh;
    border: solid black 1px;
    border-radius: 5px;
    padding: 1vh;
    cursor: pointer;
    transition: all 0.1s ease;
    flex-shrink: 0;
    z-index: -1;
    
    .input{
        display: flex;
        padding-block: 1vh;
        color: black;

        h2{
            background-color: #c0c0c0;
            width: 100%;
            border-radius: 5px;
            padding: 5px;
            overflow-wrap: break-word;
        }

        p{
            background-color: #c0c0c0;
            width: 100%;
            border-radius: 5px;
            height: fit-content;
            overflow-wrap: break-word;
        }
        
    }
}

.formSobreArea:hover{
    transform: scale(1.03);
}

.sendButton{
    background-color: #82dd55;
    padding:  0.5vh;
    border-radius: 5px;
    width: 100%;
}

.cadastro{
    position: sticky;
    display: flex;
    align-items: flex-end;
}

.cadastro img{
    height: 3rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.cadastro img:hover{
    scale: 1.1;
    filter: brightness(120%);
    z-index: 999;
}

.preImage{
    height: 3.5rem;
}

.inputs-groups{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.itensdisplay{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    margin-top: 2vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: clamp(50vh, 50vw, 40rem);
    width: 100%;
}

.displayarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: solid black 1px;
    width: 100%;
    background-color: #d5d4d6;
    cursor: pointer;
    font-size: clamp(1rem, 2vw, 1.3rem);

    p{
        background-color: #c0c0c0;
        width: fit-content;
        border-radius: 5px;
        padding: 1vh;
        margin: 1vh;
    }
}

.addbuton{
    background-color: #2e86dd;
    color: #fff;
    border-radius: 5px;
    font-size: clamp(1rem, 2vw, 1.3rem);
    padding: 1vh;
    text-align: center;
    cursor: pointer;
}

.display:hover, .addbuton:hover{
    transform: scale(1.03);
}
