<body>
    <main>
        <section class="formsection">
            <form class="formItens" (ngSubmit)="editItem()" [formGroup]="editar" #formDir="ngForm">
                <h1 class="title">EDITAR</h1>
              
                <div class="formTop">
                  <!-- Campo Título -->
                  <div class="form-group">
                    <div class="input">
                      <label for="ctitle">Título</label>
                      <input type="text" id="ctitle" placeholder="Insira o título" formControlName="ctitle" required />
                      <p class="error-msg" *ngIf="isInvalidControl('ctitle')">Erro no título</p>
                    </div>
                  </div>
              
                  <!-- Campo Descrição -->
                  <div class="form-group">
                    <div class="input">
                      <label for="cdesc">Descrição</label>
                      <textarea id="cdesc" placeholder="Insira a descrição" formControlName="cdesc" required rows="5" cols="30"></textarea>
                      <p class="error-msg" *ngIf="isInvalidControl('cdesc')">Erro na descrição</p>
                    </div>
                  </div>
                </div>
              
                <div class="bottomAll">
                  <div class="formBottom">
                    <!-- Upload de Imagem -->
                    <div class="form-group">
                      <div class="input imageInput">
                        <input class="img" type="file" id="imagem" formControlName="imagem" accept="image/*" (change)="uploadFile($event)" />
                      </div>
                    </div>
                  </div>
              
                  <!-- Pré-visualização da Imagem -->
                  <div *ngIf="!imagem">
                    <img class="preImage" [src]="this.sobrearea.cImg" alt="Pré-visualização da imagem" />
                  </div>
                </div>
              
                <!-- Botões -->
                <div class="buttons">
                  <button class="sendButton" type="submit">Enviar</button>
                  <button class="delete" type="button" (click)="delete()">Excluir</button>
                </div>
              </form>              
        </section>
    </main>
</body>