@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    min-height: 100dvh;
    color: black;
    background-color: #505050;
    position: sticky;
    font-family: "Open Sans", sans-serif;
}

input{
    font-family: 'Open Sans', sans-serif;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.titulo {
    font-size: clamp(24px, 5vw, 36px);
    color: #2e86dd;
}

.form {
    height: fit-content;
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f6f8;
}

.item {
    width: 40vw;
    height: 4vh;
    font-size: clamp(15px, 2vw, 24px); 
}

.sendButton {
    width: 20vw;
    min-width: fit-content;
    height: auto;
    font-size: clamp(15px, 2vw, 24px);
    background-color: #e2e2e2;
}

.sendButton:active{
    background-color: #2e86dd;
    color: #fff;
}

p, .alert {
    color: red;
    background-color: #e2e2e2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5vh;
    margin-block-start: 0.5vh;
    font-size: clamp(12px, 2vw, 20px);
    border-radius: 5px;
    display: flex;
    justify-content: start;
}

.formTrue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    align-items: center;
    background-color: #343137;
    height: 100%;
}

.picSpace {
    width: clamp(10px, 5vw, 30px);; 
    height: auto;
}

.pic {
    width: 90%;
    height: auto;
    max-width: 100%;
    display: block; 
    margin: 0 auto; 
}

.fadeIn{
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 570px) {
    .picSpace{
        display: none;
    }

    .item {
        width: 60vw;
    }
}

@media screen and (max-width: 400px) {
    .item {
        width: 90vw;
    }

    body {
        overflow-x: hidden;
    }
}