<body>
    <main>
        <section class="formsection">
             <form class="formItens" (ngSubmit)="editItem()" [formGroup]="editar" #formDir="ngForm">
                <h1 class="title">EDITAR</h1>
                <div class="formTop">
                    <div class="form-group">
                        <div class="input">
                            <label for="inProgress">Projeto finalizado?</label>
                            <mat-slide-toggle class="custom-slide-toggle" [(ngModel)]="inProgress" formControlName="inProgress" id="inProgress" name="inProgress">
                            {{ inProgress ? 'Atual: Sim' : 'Atual: Não' }}
                            </mat-slide-toggle>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input">
                            <input type="text" id="titulo" placeholder="Insira o titulo do projeto" formControlName="titulo" required/>
                            <p *ngIf="isInvalidControl('titulo')">Erro no titulo</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input">
                            <input type="text" id="link" placeholder="Insira o link do projeto" formControlName="link" required/>
                            <p *ngIf="isInvalidControl('titulo')">Erro no link</p>
                        </div>
                    </div>
                </div>
                <div class="bottomAll">
                    <div class="formBottom">
                        <div class="form-group">
                            <div class="input imageInput">
                                <label for="imagem1">Imagem do projeto</label>
                                <input class="img" type="file" id="imagem1" formControlName="imagem1" accept="image/*" (change)="uploadFile1($event)">
                            </div>
                            <div *ngIf="!imagem1">
                                <img class="preImage" [src]="this.projeto.projectImg" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input imageInput">
                                <label for="imagem1">Ícone da linguagem utilizada</label>
                                <input class="img" type="file" id="imagem2" formControlName="imagem2" accept="image/*" (change)="uploadFile2($event)">
                            </div>
                            <div *ngIf="!imagem2">
                                <img class="preImage" [src]="this.projeto.badge" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="buttons">
                    <button class="sendButton" type="submit">Enviar</button>
                    <button class="delete" (click)="delete()">Excluir</button>
                </div>
             </form>
        </section>
    </main>
</body>